* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

header {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  margin: 3rem auto;
  width: 90%;
  border-radius: .5rem;
  padding: 1.5rem 2rem; }
  header .title {
    font-size: 8rem;
    grid-column: 1 / span 14;
    text-shadow: -4px 0 green; }
  header .titleHead {
    text-shadow: none; }
  header button {
    display: flex;
    position: relative;
    border-radius: 100rem;
    width: 5rem;
    height: 5rem;
    outline: none;
    cursor: pointer;
    border: none; }
    header button #imagenMode {
      margin: auto;
      background-size: contain;
      background-repeat: no-repeat;
      width: 4rem;
      height: 4rem; }

main {
  border-radius: 5rem;
  width: 50%;
  margin: auto; }
  main #divDolar {
    width: 90%;
    padding: 0;
    margin: 3rem auto; }
    main #divDolar p {
      padding: 1rem;
      font-size: 2rem;
      text-decoration: underline;
      text-align: center; }
  main p {
    font-size: 2.5rem;
    padding: 0;
    text-align: center; }

#conversion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem; }
  #conversion span {
    font-size: 1.5rem;
    margin: 0 1rem 0 1rem; }
    #conversion span input {
      margin: 4rem 0 0 0;
      border-radius: 1rem;
      text-align: center; }

/* Dark Mode */
.dark-body {
  background-color: #0F0F0F; }

.dark-header {
  background-color: #010101; }
  .dark-header h1 {
    color: #FEFEFE; }
  .dark-header .switch-light {
    background-color: yellow; }
    .dark-header .switch-light .luna {
      background: url("../iconos/sun.svg"); }

.dark-main {
  border: 0.1rem solid #FEFEFE; }
  .dark-main #divDolar p {
    color: #FEFEFE; }
  .dark-main p {
    color: #FEFEFE; }
  .dark-main #conversion span {
    color: #FEFEFE; }

/* Light Mode */
.light-body {
  background: #F1F1F1; }

.light-header {
  background-color: #FEFEFE; }
  .light-header h1 {
    color: #010101; }
  .light-header .switch-dark {
    background-color: #343D5B; }
    .light-header .switch-dark .sol {
      background: url("../iconos/moon.png"); }

.light-main {
  border: 0.1rem solid #010101; }
  .light-main #divDolar p {
    color: #010101; }
  .light-main p {
    color: #010101; }
  .light-main #conversion span {
    color: #010101; }

.spinner {
  display: inline-block;
  position: relative;
  top: .3rem;
  left: 1rem;
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.spinnerOut {
  display: none; }

.hideInput {
  display: none; }

.inp {
  display: unset; }
