$color-principal: #FEFEFE;
$color-secundario: #010101;

*{
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

header {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  margin: 3rem auto;
  width: 90%;
  border-radius: .5rem;
  padding: 1.5rem 2rem;
    .title {
      font-size: 8rem;
      grid-column: 1 / span 14;
      text-shadow: -4px 0 green;
    }
    .titleHead {
      text-shadow: none;
    }
    button {
      display: flex;
      position: relative;
      border-radius: 100rem;
      width: 5rem;
      height: 5rem;
      outline: none;
      cursor: pointer;
      border: none;
        #imagenMode {
          margin: auto;
          background-size: contain;
          background-repeat: no-repeat;
          width: 4rem;
          height: 4rem;
        }
    }
}

main {
  border-radius: 5rem;
  width: 50%;
  margin: auto;
    #divDolar {
      width: 90%;
      padding: 0;
      margin: 3rem auto;
        p {
          padding: 1rem;
          font-size: 2rem;
          text-decoration: underline;
          text-align: center;
        }
    }
    p {
      font-size: 2.5rem;
      padding: 0;
      text-align: center;
    }
  }

#conversion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
    span {
      font-size: 1.5rem;
      margin: 0 1rem 0 1rem;
        input {
          margin: 4rem 0 0 0;
          border-radius: 1rem;
          text-align: center;
        }
    }
}

/* Dark Mode */

.dark-body {
  background-color: #0F0F0F;
}

.dark-header {
  background-color: $color-secundario;
    h1 {
      color: $color-principal;
    }
    .switch-light {
      background-color: yellow;
        .luna {
          background: url("../iconos/sun.svg");
        }
    }
}

.dark-main {
  border: .1rem solid $color-principal;
    #divDolar {
      p {
        color: $color-principal;
      }
    }
    p {
      color: $color-principal;
    }
    #conversion {
      span {
        color: $color-principal;
      }
    }
}

/* Light Mode */

.light-body {
  background: #F1F1F1;
}

.light-header {
  background-color: $color-principal;
    h1 {
      color: $color-secundario;
    }
    .switch-dark {
      background-color: #343D5B;
        .sol {
          background: url("../iconos/moon.png");
        }
    }
}

.light-main {
  border: .1rem solid $color-secundario;
    #divDolar {
        p {
          color: $color-secundario;
        }
    }
    p {
      color: $color-secundario;
    }
    #conversion {
      span {
        color: $color-secundario;
      }
    }
}

.spinner {
  display: inline-block;
  position: relative;
  top: .3rem;
  left: 1rem;
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}
  
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

.spinnerOut {
  display: none;
}

.hideInput {
  display: none;
}

.inp {
  display: unset;
}